

.container{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  0px 0px 3px;
    width: 300px;
    margin: 10% auto;
    padding: 5px;
    border-radius: 4px;
}

.head{
    color: #00796b;
    text-align: center;
}

.enterinput{
    margin: 0px 15px;
    
}

.button{
    margin: 13px 16px;
    background-color: #00796b;
    width: 90%;
    height: 30px; 
    padding: 0px 1px;
    border: none;          
    border-radius: 5px;  
    color: white;                                                   
}

.button:hover{
    background-color: #025d52;
}

.input1,.input2,.input3{
    width: 100%;
    height: 20px;
    margin: 10px auto;
    border-radius: 5px none;
}





